/mAP/predicted/
/mAP/ground-truth/
/data/voc2007/
/.idea/
/backpropagration_approach/DeepLift/deeplift/examples/mnist/
/YOLOv3_Notebook/
/checkpoint/yolov3_coco.ckpt.data-00000-of-00001
/checkpoint/yolov3_coco.ckpt.index
/checkpoint/yolov3_coco.ckpt.meta
/checkpoint/yolov3_coco.tar.gz
/checkpoint/yolov3_coco_demo.ckpt.data-00000-of-00001
/checkpoint/yolov3_coco_demo.ckpt.index
/checkpoint/yolov3_coco_demo.ckpt.meta
/yolov4.weights
/data/detection/2007_000027_jpg.rf.29ab5ecfa920a95248e65700ada7a103.jpg
/data/detection/2007_000032_jpg.rf.5c4c1c7c50b0a26d496f65eb8d358a63.jpg
/data/detection/2007_000033_jpg.rf.83c121af2432f70403130e8851f6c633.jpg
/data/detection/2007_000039_jpg.rf.30d5404abcd742137f5499bfa0f7f928.jpg
/data/detection/2007_000042_jpg.rf.722e73bcd9135c727313c844cb845ba4.jpg
/data/detection/2007_000061_jpg.rf.1f12f1624b9ffb0c83530283306bd9f7.jpg
/data/detection/2007_000063_jpg.rf.6b6cd750e99533e2efea2a2d743b7af0.jpg
/data/log/events.out.tfevents.1648860708.Guanzhaos-MBP
/checkpoint/test_1_best_ckpt/
core/__pycache__/
data/log/
nohup.out
/checkpoint/yolov3_test_loss=9.5772.ckpt-13.data-00000-of-00001
/checkpoint/yolov3_test_loss=9.5772.ckpt-13.index
/checkpoint/yolov3_test_loss=9.5772.ckpt-13.meta
/yolov3_coco.pb
